body {
  font-family: Futura, Helvetica, Arial, sans-serif;
  color: #444;
}

h1 {
  font-weight: normal;
}

#container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#board{
  border-collapse: collapse;
}

#board td{
  transition-duration: .18s;
  border: 1px solid #ddd;
  width: 18px;
  height: 18px;
}

td.alive {
  background-color: #8CC8DD;
}

.button:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

.button {
  transition-duration: .3s;
  padding: 0.85em 1em;
  border: 1px solid transparent;
  border-radius: 3px;
  font-size: 0.9em;
  text-align: center;
  background-color: #2ba6cb;
  color: #fefefe; 
}



.button:focus {
  outline: transparent;
}

.clicked{
  background-color: red;
}