body {
  font-family: Futura, Helvetica, Arial, sans-serif;
  color: white;
  background-color: black;
}

h1 {
  font-weight: normal;
}

#container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#board{
  border-collapse: collapse;
}

#board td{
  transition-duration: .18s;
  border: 1px solid #ddd;
  width: 18px;
  height: 18px;
}

td.alive {
  background-color: #8CC8DD;
}

.button:hover, .social:hover{
  box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.24), 0 17px 50px 0 rgba(255, 255, 255, 0.19);
  cursor: pointer;
}

.button {
  transition-duration: .3s;
  padding: 0.85em 1em;
  border: 1px solid transparent;
  border-radius: 3px;
  font-size: 0.9em;
  text-align: center;
  background-color: white;
  color: black; 
}



.button:focus {
  outline: transparent;
}

.clicked{
  background-color: red;
}


.profiles{
  display: flex;
  flex-direction: row;
}
.links{
  display: inline-block;
}
.social{
  transition-duration: 0.7s;
  background-color: transparent;
  border: transparent;
  border-radius: 9999em;
  margin-top: 5%;
}
img{
  width: 4vh;
  height: 4vh;
}
#linkedIn{
  width: 4vh;
  height: 3.5vh;
}
/* .social:hover{
  box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.24), 0 17px 50px 0 rgba(255, 255, 255, 0.19);
  cursor: pointer;
} */